DOMAIN_NAME=marcnava.42.fr

MYSQL_DATABASE=wordpress
MYSQL_USER=marcnava

WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=marcnava
WORDPRESS_DB_HOST=mariadb:3306

WP_TITLE=Inception
WP_ADMIN_USER=marcnava
WP_ADMIN_EMAIL=marcnava@student.42madrid.com
WP_USER=editor
WP_USER_EMAIL=editor@student.42madrid.com

WP_REDIS_HOST=redis
WP_REDIS_PORT=6379

FTP_USER=marcnava
FTP_PASV_MIN_PORT=40000
FTP_PASV_MAX_PORT=40010

BACKUP_DB_HOST=mariadb
BACKUP_DB_PORT=3306
BACKUP_DB_NAME=wordpress
BACKUP_DB_USER=marcnava
BACKUP_KEEP=72

DATA_PATH=/home/marcnava/data
