*
!.gitignore
!Makefile
!README.md
!USER_DOC.md
!DEV_DOC.md
!srcs/
!srcs/**/
!srcs/docker-compose.yml
!srcs/**/Dockerfile
!srcs/**/.dockerignore
!srcs/**/.gitkeep
!srcs/**/*.conf
!srcs/**/*.cnf
!srcs/**/*.sh
!srcs/**/*.R
!srcs/**/*.Rmd

# Never commit credentials
srcs/.env
!srcs/.env.example
!secrets/
secrets/*
!secrets/.gitkeep
